<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>Post Index</h1>
      <div class="row">
        <div class="col-12">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <% if @posts.present? %>
              <%= render @posts %>
            <% else %>
              <p>No Date</p>
            <% end %>
          </div>
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
